* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.clear {
    clear: both;
}
.container {
    background-color: #f4f4f4;
    position: relative;
}

.bia_1 {
    position: fixed;
    top: 222px;
    left: 40px;
    z-index: 100;
}

.bia_2 {
    position: fixed;
    top: 222px;
    right: 40px;
    z-index: 100;
}

.bia_1 img {
    width: 60px;
    height: 200px;
}

.bia_2 img {
    width: 60px;
    height: 200px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 45px;
    border-radius: 10px;
    border: 1px solid #60bcff;
    margin-top: 30px;
    margin-left: 45%;
    cursor: pointer;
}
.button:hover {
    color: white;
    background: #24a3ff;
}

.icon-arrow-back {
    display: inline-block;
    background-image: url('https://frontend.tikicdn.com/_new-next/static/img/sprite.png?v=100000000');
    background-position: -392px -189px;
    width: 8px;
    height: 14px;
    margin: 7px 9px;
}

.icon-arrow-forward {
    display: inline-block;
    background-image: url('https://frontend.tikicdn.com/_new-next/static/img/sprite.png?v=100000000');
    background-position: -392px -189px;
    width: 8px;
    height: 14px;
    margin: 7px 11px;
    transform: rotateY(180deg);
}
.thanh_dieu_huong {
    height: 200px;
    background-color: #189eff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .5);
}.thanh_dieu_huong_nho_1 {
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .5);
    background-color: #1d71ab;
    color: white;
    font-size: 14px;
    margin-bottom: 3px;
}

.thanh_dieu_huong_nho_outer-1 {
    width: 1300px;
    margin: auto;
    height: 30px;
}

.thanh_dieu_huong_nho_inner-1 {
    width: 80%;
    height: 100%;
    margin-left: 20%;
}

.d1 {
    height: 100%;
    padding-top: 5px;
    margin-right: 1%;
    cursor: pointer;
    float: left;
}

.d1:con_cuoi {
    position: relative;
    margin-right: 0;
}

.d1:con_cuoi:after {
    content: "";
    position: absolute;
    top: 12px;
    right: -15px;
    width: 15px;
    height: 7px;
    background-image: url(https://raw.githubusercontent.com/gunht/img/master/tiki/icon-tikimenu-07.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.d1 .img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    float: left;
}

.d1 .img img {
    width: 100%;
    height: 100%;
}

.d1 .content {
    vertical-align: middle;
    float: left;
}
.thanh_dieu_huong_nho_2 {
    width: 1300px;
    height: 59%;
    margin: auto;
}

.menu-1 {
    width: 100%;
    height: 50%;
}

.menu-1>* {
    float: left;
    margin-right: 1.4%;
}.logo {
    display: inline-block;
    width: 185px;
    height: 90%;
    margin-top: 6px;
}

.logo a img {
    width: 100%;
    height: 100%;
}

.logo-1 {
    display: inline-block;
    width: 30%;
    height: 70%;
    vertical-align: middle;
}

.logo-2 {
    display: inline-block;
    vertical-align: middle;
    width: 67%;
    height: 90%;
}
.search {
    position: relative;
    margin-top: 10px;
}

.search-bar {
    padding-left: 10px;
    width: 585px;
    height: 43px;
    border-radius: 5px;
    border-width: 0;
}

.search button {
    position: absolute;
    top: 0px;
    right: 0;
    width: 140px;
    height: 43px;
    border-radius: 0 5px 5px 0;
    border-width: 0;
}

.search button img {
    width: 20px;
    height: 22px;
}

.search button>* {
    vertical-align: middle;
}

.d2 {
    margin-top: 17px;
}

.d2 img {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.d2 span {
    display: inline-block;
    color: white;
    vertical-align: middle;
    font-size: 14px;
}

.d2:con_cuoi {
    width: 150px;
    height: 47px;
    padding: 10px 5px;
    margin: 7px 0 0 0;
    border: 3px solid white;
    border-radius: 5px;
}

.shop-text {
    background: #fdd835;
    width: 20px;
    height: 23px;
    text-align: center;
    margin-left: 10px;
    line-height: 1.8;
    font-weight: 700;
    color: black !important;
}
.menu-2 {
    width: 100%;
    height: 50%;
}

.menu-2>* {
    float: left;
    font-size: 14px;
    color: white;
    margin-right: 2.4%;
}

.d3:con_dau {
    width: 19.5%;
    margin-top: 25px;
    margin-right: 0;
}

.d3 img {
    display: inline-block;
    vertical-align: middle;
}

.d3 span {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.section {
    width: 800px;
    margin: auto;
}
.section-1st {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    height: 566px;
    margin-left: 140px;
}
.menu-left {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #d9d8d8;
    background: white;
}

.menu-item {
    position: relative;
    line-height: 35px;
    cursor: pointer;
}

.menu-item::after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    right: -35px;
    margin: auto;
    border-top: 18px solid transparent;
    border-left: 17px solid rgba(24, 158, 255);
    border-right: 17px solid transparent;
    border-bottom: 17px solid transparent;
}

.menu-item .img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
}

.menu-item .img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu-item:nth-child(1) .img img {
    width: 12px;
    height: 18px;
}

.menu-item:nth-child(2) .img img {
    width: 12px;
    height: 18px;
}

.menu-item:nth-child(3) .img img {
    width: 12px;
    height: 18px;
}

.menu-item:nth-child(4) .img img,
.menu-item:nth-child(5) .img img,
.menu-item:nth-child(16) .img img {
    width: 24px;
    height: 18px;
}
.menu-item:nth-child(6) .img img,
.menu-item:nth-child(10) .img img,
.menu-item:nth-child(11) .img img,
.menu-item:nth-child(12) .img img,
.menu-item:nth-child(14) .img img,
.menu-item:nth-child(15) .img img {
    width: 22px;
    height: 22px;
}

.menu-item:nth-child(7) .img img {
    width: 24px;
    height: 14px;
}

.menu-item:nth-child(8) .img img {
    width: 14px;
    height: 24px;
}

.menu-item:nth-child(9) .img img {
    width: 12px;
    height: 24px;
}

.menu-item:nth-child(13) .img img {
    width: 18px;
    height: 24px;
}

.menu-item .content {
    display: inline-block;
    vertical-align: middle;
}

.menu-item:hover {
    background: #189eff;
}
.menu-item:hover::after {
    display: block;
}

.menu-item:hover img {
    filter: brightness(0) invert(1);
}

.menu-item:hover span {
    color: white;
}

.menu-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: white;
}
.menu-right {
    float: left;
    width: 80%;
    height: 100%;
}

.menu-right-item {
    float: left;
    height: 100%;
}

.item-left {
    float: left;
    width: 50%;
    height: 33.33333333%;
}

.item-left img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.item-right {
    float: left;
    width: 50%;
    height: 33.33333333%;
}

.item-right img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.item-right:hover img,
.item-left:hover img {
    opacity: 0.9;
}
.section-2 {
    width: 100%;
    height: 183px;
    margin-top: 35px;
}

.d4 {
    float: left;
    width: 25%;
    height: 100%;
}

.d4 img {
    width: 100%;
    height: 100%;
}

.d4:hover img {
    opacity: 0.9;
}
.heading-3 {
    padding: 15px 30px;
    /* height: 100px; */
    border-bottom: 1px solid #f4f4f4;
}

.heading-3 .icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.heading-3 .icon img {
    width: 100%;
    height: 100%;
}

.heading-3 .title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.heading-3 .title h3 {
    margin: 5px 0;
    color: #ff3d00;
}

.heading-3 .title p {
    margin: 0;
    font-size: 14px;
}

/* .main-3rd {
    width: 100%;
    height: 80%;
}

.col-md-3rd {
    position: relative;
    float: left;
    width: 20%;
    height: 50%;
    padding: 16px;
    font-size: 14px;
    cursor: pointer;
}

.col-md-3rd:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .1);
}

.col-md-3rd .img {
    width: 100%;
    height: 65%;
}

.col-md-3rd .content>* {
    margin: 0;
    line-height: 20px;
}

.col-md-3rd .img img {
    width: 100%;
    height: 100%;
}

.col-md-3rd .title {
    width: 100%;
    height: 65px;
    padding-top: 10px;
    overflow: hidden;
    font-size: 13px;
}

.col-md-3rd .price {
    font-weight: bold;
    margin-top: 10px;
}

.col-md-3rd .old-price {
    font-weight: normal;
    font-size: 12px;
    padding-left: 10px;
    text-decoration: line-through;
}

.col-md-3rd .percent-sale {
    position: absolute;
    background-image: url(https://frontend.tikicdn.com/_new-next/static/img/icons/product/deal-tag.png);
    color: white;
    text-align: center;
    padding-top: 5px;
    width: 40px;
    display: inline-block;
    height: 36px;
    top: 16px;
    left: 16px;
}

.col-md-3rd .amount {
    text-align: center;
    margin: 5px 0 0 0;
    height: 23px;
    padding-top: 2px;
    background: #e0e0e0;
    border-radius: 5px;
    font-size: 13px;
}

.tikinow {
    background-image: url(https://frontend.tikicdn.com/_new-next/static/img/icons/tikinow/tiki-now-15.png);
    background-size: 50px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    width: 50px;
    margin-right: 5px;
} */

